{% block footer %}

    <footer>
        <div class="container">
            <div class="footer_inner">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-lg-4">
                        <a href="#" class="logo-footer"><img src="demo-data/logo-footer.png" alt="" width="149" height="25" /></a>
                        <div class="widget widget_text">
                            </div>
                    </div>
                </div>
                <div class="widget widget_menu">
                    <nav class="sitemap">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Contacts</a></li>
                            <li><a href="#">Editorial Staff</a></li>
                            <li><a href="#">Advertising</a></li>
                            <li><a href="#">Jobs</a></li>
                        </ul>
                    </nav>
                </div>
                
                <div class="widget widget_newsletter">
                    <form action="{% url 'blog:subscribe' %}" method='POST' class="form_newsletter">
                            {% csrf_token %}
                        <label for="subEmail"><i class="icon-mail2"></i> get our last articles</label>
                        {{form.email}}
                        <button>subscribe</button>
                    </form>
                </div>
                <div class="copyrights">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <ul class="social-list">
                                <li><a href="#" class="icon-twitter"></a></li>
                                <li><a href="#" class="icon-facebook"></a></li>
                                <li><a href="#" class="icon-tumblr"></a></li>
                                <li><a href="#" class="icon-google-plus"></a></li>
                                <li><a href="#" class="icon-pinterest"></a></li>
                            </ul>  
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="rights">&copy; 2015 Voltov - All right reserved.</div>
                        </div>
                    </div>
                </div>  
                
            </div>
        </div>
    </footer>
{% endblock %}
