
{% block nav %}

    <header class="style1 docHeader">  
  <nav id="sticktop" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header clearfix">
        <a class="navbar-brand" href="index.html"><img src="demo-data/logo.png" alt="/"></a>
      </div>
      <div class="social-wrap">
      	<ul class="social-list">
        	<li><a href="#" class="icon-twitter"></a></li>
            <li><a href="#" class="icon-facebook"></a></li>
            <li><a href="#" class="icon-tumblr"></a></li>
            <li><a href="#" class="icon-google-plus"></a></li>
            <li><a href="#" class="icon-pinterest"></a></li>
        </ul>
      </div>  
      <div id="dl-menu" class="xv-menuwrapper responsive-menu">
          <button class="dl-trigger">Open Menu</button>
          
          <ul class="dl-menu clearfix">
              <li class="active"><a href="index.html">Home</a></li>
              <li><a href="archive.html">social</a></li>
              <li><a href="archive.html">business</a></li>
              <li><a href="archive.html">Tech</a></li>
              <li><a href="archive.html">Sports</a></li>
              <li class="parent"><a href="#">Pages</a>
              	  <ul class="lg-submenu">
                  	  <li class="parent"><a href="#">Home Pages <span class="badge badge-red">Hot</span></a>
                      		<ul class="lg-submenu">
                            	<li><a href="index.html">Home</a></li>
                                <li><a href="index2.html">Home 2</a></li>
                                <li><a href="index3.html">Home 3</a></li>
                                <li><a href="index4.html">Home Dark</a></li>
                            </ul>
                      </li>
                      <li><a href="404.html">404 Error Page <span class="badge badge-green">Bonus</span></a></li>
                      <li><a href="page.html">Page Template <span class="badge badge-yellow">new</span></a></li>
                  	  <li><a href="contact.html">Contact</a></li>
                      <li><a href="single.html">Single Article</a></li>
                      <li><a href="archive.html">Archive Page</a></li>
                  </ul>
              </li>
          </ul>
      </div>
    </div>
  </nav>
        
</header>

{% endblock %}



